# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/BackCode/.idea
/BackCode/accounts/__pycache__
/BackCode/config/__pycache__
/BackCode/core/__pycache__
